

<ion-tabs   color = "navbar" [selectedIndex]="myIndex">
    <ion-tab [root]="home" tabTitle="{{'HOME' | translate}}" tabIcon="ios-home-outline"></ion-tab>
    <ion-tab [root]="map" tabTitle="{{'PARKING' | translate}}" tabIcon="ios-car-outline"></ion-tab>

    <ion-tab [root]="fav" tabTitle="{{'FAVORITE' | translate}}" tabIcon="ios-star-outline"></ion-tab>
    <ion-tab [root]="news" tabTitle="{{'NEWS' | translate}}" tabIcon="ios-list-box-outline"></ion-tab>
  </ion-tabs>


