page-general-history {
    h3{
        padding-left: 3%

        
    }

    .bg{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .item-content {
        border-radius: 10px;
        margin-top: 5px;
        background-color : rgba(146, 146, 146, 0.1);
      }
}
