<!--
  Generated template for the GeneralHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color = "navbar">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
</button>


    <ion-title>{{ 'HISTORY' | translate }}</ion-title>
</ion-navbar>
</ion-header>



<ion-content padding class="bg">

  <ion-list no-lines *ngIf="listData">
    <ion-item class="item-content" *ngFor="let data of listData" >
        <h2 ion-text color="light" ><b>{{data.name}}</b></h2>


       


        <table *ngIf="listData">
          <tr>
            <td>
              <p ion-text color="light" ><b>{{ 'ZONE' | translate }}</b></p>
            </td>
            <td>
              <p style="padding-left: 5px" ion-text color="light">{{data.zone}}</p>
            </td>
          </tr>


          <tr>
            <td>
              <p ion-text color="light" ><b>{{ 'DATETIME' | translate }}</b></p>
            </td>
            <td>
              <p style="padding-left: 5px" ion-text color="light">{{data.date}}</p>
            </td>
          </tr>
          <tr>
              <td>
                <p ion-text color="light" ><b>{{ 'Start time' | translate }}</b></p>
              </td>
              <td>
                <p style="padding-left: 5px" ion-text color="light">{{data.startDT}}</p>
              </td>
            </tr>

            <tr>
                <td>
                  <p ion-text color="light" ><b>{{ 'End time' | translate }}</b></p>
                </td>
                <td>
                  <p style="padding-left: 5px" ion-text color="light">{{data.endDT}}</p>
                </td>
              </tr>
          <tr>
            <td>
              <p ion-text color="light" ><b>{{ 'PARKING LOT' | translate }}</b></p>
            </td>
            <td>
              <p style="padding-left: 5px" ion-text color="light" >{{data.ch}}</p>
            </td>
          </tr>

        </table>
       

    </ion-item>
  </ion-list>

</ion-content>
