page-general-view-zone {
    .Aligner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div{
          padding-top: 2px
      }

      .bgView{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .btn-zoom {
        width: 35px;
        height: 35px !important;
        padding: 10px;
        margin-bottom: 10px;
    }
}
