
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>{{'ZONE' | translate}} {{ showName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding >
  <!-- <ion-grid>
    <ion-row center no-padding>
      <ion-col >
          <div class ="Aligner">
              <canvas #canvas ></canvas>
          </div>
      </ion-col>
    </ion-row>
  
  </ion-grid> -->
  <ion-fab right top >
    <button (click)="zoomReset()" ion-fab color="primary" class="btn-zoom">
        <ion-icon name="md-contract"></ion-icon>
    </button>


  </ion-fab>




  <div class ="Aligner">
    <canvas #canvas ></canvas>
</div>

</ion-content>
