<!--
  Generated template for the GeneralHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="{{'SEARCH FOR  A PARKING' | translate}}"></ion-searchbar>
    <ion-buttons end>
        <button ion-button  icon-only (click)="onShowOption($event)">
            <ion-icon name="ios-search"></ion-icon>
        </button>
    </ion-buttons>

    
<!-- 
   <ion-buttons end>
        <button ion-button  icon-only>
            <ion-icon name="more"></ion-icon>
        </button>
   </ion-buttons> -->

  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-list [hidden]="itemsOutput.length == 0">
         <button ion-item *ngFor="let item of itemsOutput" tappable (click)="selectSearchResult(item)" >
          {{ item.name }}
        </button>
      </ion-list>
  
  <div id="map_canvas">

  </div>
</ion-content>
