
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div style="padding-bottom: 1px" text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Naviparking</strong> 
      </h2>
    </div>

    <!-- Login form -->

    <ion-card>
      <ion-card-content>
        <form class="list-form" #f="ngForm" (ngSubmit)="onLogin(f)">
          <ion-item class="borders" style="margin-bottom: 10px;">
            <ion-label style="padding-left: 10px;" >
              <ion-icon name="person" item-start class="text-primary"></ion-icon>
              E-mail
            </ion-label>
            <ion-input 
              name="txtEmail"
              type="email" 
              ngModel
              pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
              required>
            </ion-input>
          </ion-item>
    
          <ion-item class="borders"> 
            <ion-label style="padding-left: 10px" >
              <ion-icon name="lock" item-start class="text-primary"></ion-icon>
              Password
            </ion-label>
            <ion-input 
              name="txtPass"
              type="password" 
              ngModel
              required> 
            </ion-input>
          </ion-item>
          <ion-item no-lines >
    
            <p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>
          </ion-item>
          <ion-item no-lines >
            <div>
              <button ion-button round large  icon-start block color="primary" tappable  type="submit"  [disabled]="!f.valid">
                <ion-icon name="log-in"></ion-icon>
                Login
              </button>
            </div>
        
        
          </ion-item>
        </form>
    
        <!-- Other links -->
        <div text-center margin-top>
          <span ion-text color="light" [navPush]="regis">New User? </span>
        </div>
      </ion-card-content>
    </ion-card>
   

  </div>
</ion-content>
