page-login {
	ion-card.card {
		box-shadow: none;
		background: rgba(146, 146, 146, 0.1);
		border-radius: 10px;
	}

	.borders{
		
        background: transparent!important;
		border: 1px solid #ffffff!important;
		border-radius: 10px
    }
}
