progress-bar {
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 0px;
        text-align: center;
        background-color:map-get($colors, progressGreen);
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        // background-color: map-get($colors, primary);
    }
}
