page-register {
	ion-card.card {
		box-shadow: none;
		background: rgba(146, 146, 146, 0.1);
		border-radius: 10px;
	}


	.bg{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/BGwelcome.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // background: linear-gradient(160deg,#B627f2 30%,#10dfc8 70%);
	}
	
	.borders{
        background: transparent!important;
		border: 1px solid #ffffff!important;
		border-radius: 10px
    }

    ion-label {
        font-size: 1em;
        color: color($colors, light);
      }

    // .item-inner, ion-item {
    //     border-bottom-color: transparent !important;
    //     border-radius: 10px;
    //     box-shadow: none !important;
    //   }
}
