<!--
  Generated template for the RegisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="navbar">
    <ion-title>ลงทะเบียน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="animated fadeIn bg">

  <ion-card>

    <ion-card-content>

     
    
      
      <form  #f="ngForm" (ngSubmit)="onSignUp(f)">

        <ion-item class="borders" no-lines style="margin-bottom: 5px;">
            <ion-label>
              
              Full Name
            </ion-label>
            <ion-input 
            STYLE='color:#FFFFFF;'
              name="txtFName"
              type="text" 
              ngModel

              required> 
            </ion-input>
          </ion-item>


        <ion-item class="borders" no-lines style="margin-bottom: 5px;">
            <ion-label >
              
              Display Name
            </ion-label>
            <ion-input 
              STYLE='color:#FFFFFF;'
              name="txtDName"
              type="text" 
              ngModel

              required> 
            </ion-input>
          </ion-item>


        <ion-item class="borders" no-lines style="margin-bottom: 5px;">
            <ion-label >
              
              E-mail
            </ion-label>
            <ion-input 
            STYLE='color:#FFFFFF;'
              name="txtEmail"
              type="email" 
              ngModel
              
              pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
              required>
            </ion-input>
          </ion-item>
      
          <ion-item class="borders" no-lines style="margin-bottom: 5px;">
            <ion-label >
              
              Password
            </ion-label>
            <ion-input 
            STYLE='color:#FFFFFF;'
              name="txtPass"
              type="password" 
              ngModel
              
              [minlength]="8"
              required> 
            </ion-input>
          </ion-item>
          <p  ion-text color="danger" style="font-size: 10px; padding-left: 5px;">Please enter at least 8 characters.</p>
          <ion-item class="borders" no-lines style="margin-bottom: 5px;">
            <ion-label >
              
              Re-Password
            </ion-label>
            <ion-input 
            STYLE='color:#FFFFFF;'
              name="txtREPass"
              type="password" 
              ngModel
              
              [minlength]="8"
              required> 
            </ion-input>
          </ion-item>

          <ion-item class="borders" no-lines style="margin-bottom: 5px;">
              <ion-label >
                
                  Telephone Number
              </ion-label>
              <ion-input 
              STYLE='color:#FFFFFF;'
                name="txtPhone"
                type="number" 
                ngModel

                required> 
              </ion-input>
            </ion-item>
            <ion-item class="borders" no-lines style="margin-bottom: 5px;">
                <ion-label  >
                    Car brand
                </ion-label>
        
                <ion-input 
              STYLE='color:#FFFFFF;'
              name="txtDCarBrand"
              type="text" 
              ngModel

              required> 
            </ion-input>
            </ion-item>
            <ion-item class="borders" no-lines style="margin-bottom: 5px;">
              <ion-label  >
                Model of the car
              </ion-label>
      
              <ion-input 
            STYLE='color:#FFFFFF;'
            name="txtDCarModel"
            type="text" 
            ngModel

            required> 
          </ion-input>
          </ion-item>

          <ion-item no-lines style="background: transparent" >
            <div>
              <button ion-button round large  icon-start block color="primary" tappable  type="submit"  [disabled]="!f.valid">
                <ion-icon name="ios-create-outline"></ion-icon>
                  Register
              </button>
            </div>
        
        
          </ion-item>
  </form>

    </ion-card-content>
  </ion-card>

    
  </ion-content>
  
