page-general-view-map-image {
    .bg{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .item-content {

        border-radius: 10px;

        margin-bottom: 10px;
        background-color : rgba(146, 146, 146, 0.1);
      }

      .canter{
        display: block;
        margin-left: auto;
        margin-right: auto;
  

      }
}
