<!--
  Generated template for the GeneralViewMapImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color ="navbar">
      <ion-title>{{titleShow}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  


<ion-content padding class="bg">


  <ion-list no-lines>
    <ion-item   class="item-content" *ngFor="let i  of urlImage">
      <h2  style="padding-top: 10px; padding-bottom: 10px; text-align: center" ion-text color="light"><b>{{'ZONE' | translate}} {{i.name}}</b></h2>
      <img class="canter" [src]="i.url">
    </ion-item>
  </ion-list>
</ion-content>
