<!--
  Generated template for the GeneralStatusParkingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="navbar">
    <ion-title>{{titleShow}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgView">

    <ion-grid>
      <ion-row>
        <ion-col >
            <p ion-text color="light"><b>{{'ALL' | translate}} {{numberOfZone}} {{'ZONE' | translate}}</b> </p>
        </ion-col>
        <ion-col >
            <button ion-button round full small  color = "primary" (click)="gotoMap()">{{'navigate' | translate}}</button>
           </ion-col>
      </ion-row>
      <ion-row>
        
      </ion-row>
    </ion-grid>
 
    <ion-list *ngIf ="listDataShowZone" no-lines >

    
          <button class="item-content" ion-item *ngFor="let i of listDataShowZone.data; let j = index" (click)="itemSelected(j)" >
              <h2 ion-text color="light"  item-start>{{'ZONE' | translate}} {{i.nameZoneShow}}</h2>
              <h3 *ngIf="i.count" style="padding-top: 10px;" ion-text color="progressGreen" >{{'Available' | translate}} {{i.availOfZone}} {{'channels' | translate}}</h3>
              <h3 *ngIf="!i.count" style="padding-top: 10px;" ion-text color="progressDanger" >{{'Parking is not busy' | translate}}</h3>
              
              <progress-bar [progress]="i.progress"></progress-bar>
    
          </button>
    
     
      </ion-list>
</ion-content>
