page-general-status-parking {
    h3{
        padding-left: 3%

        
    }

    .bgView{
        background: url("../assets/imgs/bg.jpg") no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
      }

      .item-content {

        border-radius: 10px;

        margin-bottom: 10px;
        background-color : rgba(146, 146, 146, 0.1);
      }

      p{
          font-size: 13px
      }
}
