
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <div class="user-avatar">
                <img src="assets/imgs/park.png">
              </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h6 ion-text class="no-margin bold text-white">
              smart  parking intelligent
            </h6>
            <span ion-text color="light">{{name}}</span>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small round full color="btndis" menuClose  (click)="editProfile()">
              <ion-icon name="contact"></ion-icon>
              {{ 'PROFILE' | translate }} 
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small round full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              {{ 'SIGN OUT' | translate }} 
            </button>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col >
            <p>ภาษา</p>
          </ion-col>
          <ion-col >
            <button small clear ion-button color="light"(click)="setThai()">thai</button>
            
          </ion-col>
          <ion-col >
            <button small clear ion-button  color="light" (click)="setEng()">Eng</button>
          </ion-col>
        </ion-row> -->

      </ion-grid>
    </ion-toolbar>
  </ion-header>
 
  <ion-content >
    <ion-list>

    
        <ion-item-group>
            <ion-item-divider color="light">{{'Menu' | translate}}</ion-item-divider>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
           {{p.title | translate}}
        </button>
      </ion-item-group>
      <ion-item-group>
          <ion-item-divider color="light">{{'language setting' | translate}}</ion-item-divider>
          <button ion-item   (click)="setThai()">{{'Thai Language' | translate}}</button>
          <button ion-item   (click)="setEng()">{{'English language' | translate}}</button>
        </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>
 
<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>