<!--
  Generated template for the GeneralPeviewParkingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="navbar">
    <ion-title>{{titleShow}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="cards-bg social-cards bg">
    <ion-card *ngIf="data">      


        <img [src]="data.image">
      


        <ion-item>
          <ion-icon name="md-book" item-start large color="yellow"></ion-icon>
          <h2>{{'ALL' | translate}} {{data.totalZone}} {{'ZONE' | translate}} </h2>
          <p ion-text color="primary" (click)="openImage()">{{'View parking map' | translate}}</p>
        </ion-item>
        <ion-item>
            <ion-icon name="ios-car" item-start large color="primary"></ion-icon>
            <h2 ion-text color="secondary" *ngIf="statuslot">{{'Available' | translate}} {{data.spaces}} {{'channels' | translate}} </h2>

            <h2  ion-text color="danger" *ngIf="!statuslot">{{'Parking is not busy' | translate}}</h2>
          </ion-item>
        <ion-item>
            <ion-icon name="md-alarm" item-start large color="secondary"></ion-icon>
            <h2>{{data.time}}</h2>
          </ion-item>
        
          <ion-item>
            <ion-icon name="logo-usd" item-start large color="danger"></ion-icon>
            <h2>{{data.price}} {{'baht' | translate}}</h2>
          </ion-item>


           
    


            <ion-card-content>
              <ion-row>
                <ion-col col-6 text-left>
                  <button ion-button color="primary"  round (click)="onClickShowMap()">
                    
                    {{'navigate' | translate}}
                  </button>
                </ion-col>
                <ion-col col-6 text-right >
                  <button ion-button color="secondary" outline round [navPush]="viewStatus" [navParams]="{pos : title}">
                    
                    {{'View parking lot' | translate}}
                  </button>
                </ion-col>
                
              </ion-row>
            </ion-card-content>
      

        

      
      </ion-card>
      
      
     
      
      </ion-content>
      
      <style>
        .social-cards ion-col {
          padding: 0;
        }
      </style>

