<ion-header>

    <ion-navbar color="navbar">

        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'HOME' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="bg">



    <ion-list no-lines>
        <h1 ion-text color="light" >{{ 'WELCOME' | translate }} :
                    <b>{{name}}</b>
        </h1>
        <ion-item class="item-content" style="margin-top: 20px;">
            <h3 style="padding-top: 5px;" ion-text color="light">{{ 'Active access' | translate }} : {{laseLoginDateTime}}</h3>
        </ion-item>
    </ion-list>

        <h2 ion-text color="light" style="padding-left: 0px;" >
            <b>{{ 'Advance booking' | translate }}</b>
        </h2>

        <ion-list no-lines>
        <ion-item  *ngFor="let data of listBook " class="item-content" style="margin-top: 0px;">
            <h3 style="padding-top: 5px;" ion-text color="light" >{{data.nameEN}} {{data.startTime}} -  {{data.endTime}}</h3>
        </ion-item>
    </ion-list>

        <!-- <ion-list-header>
                Action
        </ion-list-header>
        <ion-item>Terminator II</ion-item>
        <ion-item>The Empire Strikes Back</ion-item>
        <ion-item>Blade Runner</ion-item> -->







    
    <!-- <img src="assets/imgs/true01.jpg">
    <img src="assets/imgs/true2.jpg"> -->



</ion-content>

<!-- <ion-footer>
    <img src="assets/imgs/true01.jpg"> 
</ion-footer> -->