page-general-first {



      .Aligner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      b {

        font-weight: 500;
      }
    
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          color: #000000;
        }
      }
      h2{
        padding: 0 20px;
        font-size: 18px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          font-size: 20px;
          color: #ffffff;
        }
      }

      .bg{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      ion-card.card {
        box-shadow: none;
        background: rgba(146, 146, 146, 0.1);
        border-radius: 10px;
      }

            .item-content {

        border-radius: 10px;

        margin-bottom: 20px;
        background-color : rgba(146, 146, 146, 0.1);
      }

      

}
