<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>{{ 'payment' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full block round (click)="payments()">{{ 'payment' | translate }}</button>
</ion-content>
