<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color = "navbar">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'NEWS' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="social-cards bg">

        <ion-card *ngFor="let data of listNews">
        
          <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/park.png">
            </ion-avatar>
            <h2>{{data.title}}</h2>
            <p>{{data.date}}</p>
          </ion-item>   
          <ion-card-content>
            <p>{{data.content}}</p>
            <p ion-text color="primary" style="font-size: 15px" (click)="openUrl()">{{'READ MORE' | translate}}</p>
          </ion-card-content>
        
          
        
        </ion-card>
        </ion-content>
        
        <style>
          .social-cards ion-col {
            padding: 0;
          }
        </style>
