<!--
  Generated template for the SearchFavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



    <ion-navbar color="navbar">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
      </ion-navbar>

</ion-header>

<ion-content padding>

 
    <button ion-button outline round   icon-start  color="primary" (click)="onClickAdd()">
        <ion-icon name="md-add"></ion-icon>{{'ADD FAVORITE' | translate}}
    </button>

    
    <ion-list>

        <button  ion-item *ngFor="let item of items" (click)="itemSelected(item , $event)" >
                {{item.title}} <ion-icon color ="danger" [name]="item.icon" item-end (click)="onClick(item , $event)"></ion-icon>
                   
              
        </button>



    </ion-list>

</ion-content>
