<!--
  Generated template for the GeneralAccessToParkingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>{{ 'Access To Parking' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >

  <button ion-button full block round (click)="scanQRCode()">{{ 'Scan' | translate }}</button>
</ion-content>
