<!--
  Generated template for the GeneralZoneConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>{{'Reservation confirmation' | translate}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="bg">



   

     <ion-item class="item-content" >

        <ion-icon name="ios-map-outline" item-start color="light" ></ion-icon>
        <span ion-text color="light">{{nameParking}}</span>
     </ion-item>
     <ion-item class="item-content" > 

        <ion-icon name="ios-bookmarks-outline" item-start color="light" ></ion-icon>
        <span ion-text color="light">{{zone}}</span>
     </ion-item>

     <ion-item class="item-content" >
        <ion-icon name="ios-car-outline" item-start color="light" ></ion-icon>
        <span ion-text color="light">{{ch}}</span>
      
    </ion-item>

    <ion-item class="item-content" >
        <ion-label style="color: white" >{{'Start time' | translate}}</ion-label>
        
        <ion-input disabled="true" type="text" ion-text style="color :white" (ionChange)="setTime()" (click)="openDatepicker()" [(ngModel)]="myDateStart"></ion-input>
    </ion-item>

    <ion-item class="item-content" >
        <ion-label style="color: white" >{{'End time' | translate}}</ion-label>

        <ion-input disabled="true" type="text" ion-text style="color :white"  (ionChange)="setTime()" (click)="openDatepickerEnd()" [(ngModel)]="myDateEnd"></ion-input>
    </ion-item>

    <ion-item class="item-content">

      <ion-row>
        <ion-col >
          <h1 ion-text color="light">{{'Price' | translate}} : </h1>
        </ion-col>
        <ion-col >
          <h1 ion-text color="light" >{{priceShow}} {{'baht' | translate}}</h1>
        </ion-col>

      </ion-row>

    </ion-item>


  
<ion-grid>
  <ion-row>
    <ion-col >
      <button ion-button [disabled]='checkPrice' full block round (click)="onClick()">{{showBtn | translate}}</button>
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
