page-general-zone-confirm {
    div.centered 
    {
        text-align: center;
    }
    
    div.centered table 
    {
        margin: 0 auto; 
        text-align: left;
    }
    .bg{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .search-location {
        ion-input,
        ion-input::placeholder {
            color: #fff;
        }
    }


    .item-content {

        border-radius: 10px;

        margin-bottom: 10px;
        background-color : rgba(146, 146, 146, 0.1);
      }

      p{
          font-size: 13px
      }


    
}
