page-agree {
    .bg{
        height: 100%;
        width: 100%;
        background-image: url("../assets/imgs/bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      b {
        font-size: 20px;
        color: #000000;
      }
}
