


<ion-content class="social-cards bg">



      <ion-card>
          <ion-card-content>
            <p>Notice to user: Please read this software license agreement carefully. By using all or any portion of the software, you are agreeing to be bound by all the terms and conditions of this agreement. If you do not agree to any terms of this agreement, do not use the software.</p>
            <h2><b>1 Definition</b></h2>
             <p>1.1 "use" or "using" means to access, install, download, copy, or otherwise benefit from using the functionality of the Software.</p>
            <p>1.2 "The Software" means the software and all associated documentation provided by KEYENCE.</p>
            <h2><b>2 Grant of License.</b></h2>
            <p>Conditioned upon compliance with all of the terms and conditions of this Agreement, KEYENCE grants you a nonexclusive and nontransferable license to install the Software on a single computer in order to use the KEYENCE product. You may make one copy of the Software for backup or archive purposes only.</p>
            <h2><b>3 Restrictions.</b></h2>
            <p>3.1 Except for installation of updates or new functions provided by KEYENCE, you may not modify or add any function to the Software.</p>
            <p>3.2 You may not reverse engineer, decompile or disassemble the Software.</p>
            <p>3.3 You may not create derivative works based on the Software.</p>
            <p>3.4 Other than expressly stated by KEYENCE, you may not resell, retransfer, rent or otherwise redistribute the Software to any third parties.</p>
            <h2><b>4 Intellectual Property Rights.</b></h2>
            <p>Except as expressly stated herein, KEYENCE reserves all right, title and interest in the Software, and all associated copyrights, trademarks, and other intellectual property rights therein.</p>
            <h2><b>5 Disclaimer.</b></h2>
            <p>Keyence is licensing this the Software to you "AS IS" and without any warranty of any kind. In no event will KEYENCE or its suppliers be liable to you for any damages, claims, costs or any lost profits caused by using the Software.</p>
            <h2><b>6 Termination.</b></h2>
            <p>6.1 Your license under this Agreement will terminate automatically if you destroy the Software and the copy of the Software in your possession or voluntarily return the Software to us.</p>
            <p>6.2 Your license under this Agreement will terminate automatically without any notice from KEYENCE if you fail to comply with any of the terms and conditions of this Agreement. Promptly upon termination, you shall cease all use of the Software and destroy all copies, full or partial, of the Software in your possession or control.</p>
            <ion-grid>
                <ion-row>
                  <ion-col col-6 text-left >
                    <button ion-button outline color="danger" (click)="onClick('Disagree')">Disagree</button>
                  </ion-col>
                  <ion-col col-6 text-right >
                      <button ion-button outline color="secondary" (click)="onClick('Agree')">Agree</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-content>
      </ion-card>
      

</ion-content>

<style>
    .social-cards ion-col {
      padding: 0;
    }
  </style>
