<!--
  Generated template for the GeneralContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
      <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
</button>




    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">


    <div class="login-content">

         
                    <form class="list-form" #f="ngForm" (ngSubmit)="submitContact(f)">
                      
                     <ion-item   class="borders" no-lines style="margin-bottom: 10px;">
                       <ion-label >{{'NAME' | translate}}</ion-label>
                       <ion-input STYLE='color:#FFFFFF;'
                            name="name"
                            type="text" 
                            ngModel
                            required></ion-input>
                     </ion-item>
                 
                     <ion-item class="borders" no-lines style="margin-bottom: 10px;">
                         <ion-label >{{'SUBJECT' | translate}}</ion-label>
                         <ion-input  
                            STYLE='color:#FFFFFF' 
                            type="text" 
                            name="subject"
                            ngModel
                            required>
                            </ion-input>
                     </ion-item>
                 
                 
                     <ion-item class="borders" no-lines style="margin-bottom: 10px;">
                         <ion-label >{{'DETAIL' | translate}}</ion-label>
                         <ion-textarea  
                            style="height: 100px; color:#FFFFFF;"
                            name="detail"
                            ngModel
                            required></ion-textarea>
                     </ion-item>
                 
                 
                     <ion-item class="borders" no-lines style="margin-bottom: 10px;">
                         <ion-label >{{'E-mail' | translate}}</ion-label>
                         <ion-input 
                            STYLE='color:#FFFFFF' 
                            type="email" 
                            name="email"
                            pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                            ngModel
                            required></ion-input>
                     </ion-item>
                 
                     <ion-item class="borders" no-lines style="margin-bottom: 10px;">
                         <ion-label >{{'TELEPHONE NUMBER' | translate}}</ion-label>
                         <ion-input STYLE='color:#FFFFFF'  
                            type="number" 
                            name="tel"
                            ngModel
                            required></ion-input>
                     </ion-item>


                     <ion-item no-lines style="background: transparent">
                            
                        <button [disabled]="!f.valid" ion-button round   icon-start block color="primary" tappable  type="submit">
                            <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                            {{'SEND' | translate}}
                        </button>
                               
                     </ion-item>



                     
                     
                    </form>
                

    </div>
  

</ion-content>
