<!--
  Generated template for the SearchAllPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="navbar">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
    </ion-navbar>

</ion-header>


<ion-content padding>
    
 
    <ion-list no-lines>
        <button  ion-item *ngFor="let item of items" (click)="itemSelected(item , $event)" >
                {{item.title}}<ion-icon color ="yellow" [name]="item.icon" item-end (click)="onClick(item , $event)"></ion-icon>
          
        </button>

        <!-- <ion-item *ngFor="let item of items" (click)="itemSelected(item , $event)">
            {{item.title}}<ion-icon color ="yellow" [name]="item.icon" item-end (click)="onClick(item , $event)"></ion-icon>
        </ion-item> -->
    </ion-list>
</ion-content>
