<ion-grid>
  <ion-row>
    <ion-col >
      <button ion-button icon-left clear (click)="onAction('all')" >
        <ion-icon name="ios-list-outline"></ion-icon>
        {{'ALL' | translate}}
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <button ion-button icon-left clear (click)="onAction('favorite')" >
        <ion-icon name="ios-star-outline"></ion-icon>

        {{'FAVORITE' | translate}}
        
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

